* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}

.launch-date {
  display: flex;
}

.launch-date div {
  flex-basis: 100px;
}

.launch-date div p {
  font-size: 60px;
  margin-bottom: -14px;
}

.rocket {
  width: 250px;
  position: absolute;
  right: 10%;
  bottom: 0;
  animation: rocket 5s linear infinite;
}

@keyframes rocket {
  0% {
    bottom: 0;
    opacity: 0;
  }
  100% {
    bottom: 105%;
    opacity: 1;
  }
}

.container {
  width: 100vw;
  height: 100vh;
  background-image: url(images/background.png);
  background-position: center;
  background-size: cover;
  padding: 0 8%;
}

.logo {
  width: 120px;
  padding: 20px 0;
  cursor: pointer;
}

.content {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  color: #fff;
  text-align: center; /* Center align content on mobile */
}

.content p {
  font-size: 3em;
}

.content h1 {
  font-size: 44px;
  font-weight: 600;
  color: #000;
}

.content button {
  display: flex;
  align-items: center;
  cursor: pointer;
  background: #000;
  border: 2px solid;
  outline: none;
  padding: 12px 25px;
  margin-top: 30px;
  color: #fff;
  border-image-slice: 1;
  border-width: 4px;
  border-image-source: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  animation: rainbowBorder 5s linear infinite;
}

.content button img {
  width: 25px;
  margin-left: 15px;
}

.content button span {
  color: #fff;
  margin-right: 10px;
  font-size: 1.5em;
}

.content button:hover span {
  background: linear-gradient(
    to right,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.days {
  color: #ffd700;
}

.hours {
  color: #ff6347;
}

.minutes {
  color: #800080;
}

.seconds {
  color: #1e90ff;
}

@keyframes colorChange {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.halving-countdown {
  font-size: 4em;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    #ff3753,
    #ffd700,
    #32cd32,
    #1e90ff,
    #ff3753
  );
  background-size: 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: colorChange 5s linear infinite;
}

@keyframes rainbowBorder {
  0% {
    border-image-source: linear-gradient(
      to left,
      violet,
      indigo,
      blue,
      green,
      yellow,
      orange,
      red
    );
  }
  50% {
    border-image-source: linear-gradient(
      to left,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet
    );
  }
  100% {
    border-image-source: linear-gradient(
      to left,
      violet,
      indigo,
      blue,
      green,
      yellow,
      orange,
      red
    );
  }
}

/* 모바일 장치 대응 */
@media (max-width: 768px) {
  .launch-date div p {
    font-size: 40px; /* 타이머 숫자 크기 축소 */
  }

  .launch-date div {
    flex-basis: 60px; /* 타이머 칸의 크기 축소 */
  }

  .content h1 {
    font-size: 28px; /* 타이틀 크기 축소 */
  }

  .content button {
    flex-direction: column; /* 버튼 내부 요소를 세로로 배치 */
    padding: 10px 20px;
  }

  .content button img {
    margin-left: 0;
    margin-top: 10px; /* 이미지를 텍스트 아래로 배치 */
  }

  .rocket {
    width: 150px; /* 로켓 이미지 크기 축소 */
    right: 5%;
  }

  .halving-countdown {
    font-size: 2em; /* 타이틀 크기 축소 */
  }
}

@media (max-width: 480px) {
  .launch-date div p {
    font-size: 30px; /* 타이머 숫자 크기 축소 */
  }

  .launch-date div {
    flex-basis: 50px; /* 타이머 칸의 크기 축소 */
  }

  .content h1 {
    font-size: 24px; /* 타이틀 크기 더 축소 */
  }

  .content button {
    padding: 8px 15px;
  }

  .rocket {
    width: 100px; /* 로켓 이미지 크기 더 축소 */
  }

  .halving-countdown {
    font-size: 1.5em; /* 타이틀 크기 축소 */
  }
}
